<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="head-box">
        <div class="head-logo">
            <a href="/home"><img src="/images/Polygloth.png" alt="logo"></a>
            
        </div>
        <div class="head-navigation">
            <a href="/home">Home</a>
            <a href="/translate">Translation</a>
            <a href="/dictionary">Dictionary</a>
            <a href="/sentiment">Sentiment</a>
        </div>
    </nav>
</body>
</html>